.player {
  margin: 20px 10px;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    background-color: rgba(63, 63, 63, 0.2);
    @media (max-width: ($md3+px)) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__column {
    &:last-child{
      flex: 1 1 auto;
      padding:  0px 0px 0px 40px;
      @media (max-width: ($md3+px)) {
        padding:  0px 0px 0px 10px;
      }
    }
    @media (max-width: ($md3+px)) {
      flex: 1 1 auto;
    }
  }

  &__image {
    img {
      display: block;
      margin: 0 auto;
    }
    @media (max-width: ($md3+px)) {
      margin: 0px 0px 10px 0px;
    }
  }

  &__items {
  }

  &__item {
  }

  &__title {
    font-size: 1.3em;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(63, 63, 63);
  }

  &__subtitle {
    font-size: 1em;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(63, 63, 63);
  }

  &__player {
    padding: 10px 0px;
  }

  &__volume {
  }
}

.audio-player {

  &__controls {
    display: flex;
  }

  &__play {
    flex: 0 0 48px;
    margin: 0px 20px 0px 0px;
    background: url('../assets/images/icons/play.svg');
    width: 48px;
    height: 48px;
    transition: background 0.3s ease 0s;
    &:hover{
      background: url('../assets/images/icons/playHover.svg');
    }
  }

  &__progress-container {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #555;
    margin:  20px 0px 0px 0px;
    cursor: pointer;
    border-radius: 5px;
  }

  &__progress {
    @include btnDef();
    border-radius: 5px;
    height: 8px;
    width: 0%;
  }

  &__time {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
  }

  &__time-current {
    padding:  0px 0px 0px 70px;
  }

  &__time-duration {
  }
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  margin: 0 auto;

  &__cotainer {
    width: 150px;
    height: 8px;
    border-radius: 5px;
    margin: 0px 10px;
    order: 2;
    background-color: #555;
  }

  &__progress {
    @include btnDef();
    border-radius: 5px;
    height: 8px;
    width: 50%;
  }

  &__down {
    order: 1;
    background: url('../assets/images/icons/volume_down.svg') 0 0 /contain no-repeat;
    &:hover{
      background: url('../assets/images/icons/volume_downHover.svg') 0 0 /contain no-repeat;
    }
  }

  &__up {
    order: 3;
    background: url('../assets/images/icons/volume_up.svg') 0 0 /contain no-repeat;
    &:hover{
      background: url('../assets/images/icons/volume_upHover.svg') 0 0 /contain no-repeat;
    }
  }
}

.player-icon {
  height: 30px;
  width: 30px;
  transition: background 0.3s ease 0s;
}

.audio-player__play.pause {
  background: url('../assets/images/icons/pause.svg');
  transition: background 0.3s ease 0s;
    &:hover{
      background: url('../assets/images/icons/pauseHover.svg');
    }
}