@import "~normalize.css";

@use "sass:math";

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,regular,italic,500,700,900&display=swap&subset=cyrillic-ext);


$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1160px;

$md1:$maxWidthContainer + 12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

$fontfamily: Roboto;
$fontSize: 14;

//colors
$blue: #03a9f4;
$pink: #f441a5;
$pink60: rgba(244, 65, 165, 0.6);
$pinkActive: #C953B3;
$yellow: #ffeb3b;
$bgc: #1f1e1e;
$grey: #eee9e9;
$mainColor: #f3e8dd;


@mixin btnDef() {
  background: linear-gradient(113.96deg, #f441a5  1.49%, #03a9f4 101.44%);
}

//=========================================
html {
  scroll-behavior: smooth;  
}
body{
  color: $mainColor;
  // background: linear-gradient(113.96deg, $bgc, #0A2C45 101.44%);
  background: $bgc;
  font-family: $fontfamily;
  @media (max-width: ($md3+px)){
    &.lock{
      overflow: hidden;
    }
  }
}

.wrapper{
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	//for footer
	display: flex;
	flex-direction: column;
}

._container{max-width: $maxWidthContainer; margin: 0 auto;width: 100%;padding: 0 0px;
	@media (max-width: ($md1+px)){max-width: 970px;}
	@media (max-width: ($md2+px)){max-width: 750px;}
	@media (max-width: ($md3+px)){max-width: none;padding: 0 10px;}
}

main {
	flex: 1 1 auto;
  padding: 0px 0px 0px 0px;
  letter-spacing: 1.1px;
  @media (max-width: 997px){
    padding: 0px 0px 0px 0px;
  }
}

.page {
	margin: 0px 0px 0px 0px;
	@media (max-width: ($md3+px)){
		margin: 0px 0px 0px 0px;
	}
}

@import "reset.scss";
@import "ui.scss";
@import "menu.scss";
@import "main.scss";
@import "game.scss";
@import "score.scss";
@import "questions.scss";
@import "player.scss";
@import "answers.scss";
@import "footer.scss";